<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is  form</h1>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="">Name</label>
            <input type="text" name="Name">
        </div>

        <div>
            <label for="">Firstname</label>
            <input type="text" name="Firstname">
        </div>

        <div>
            <label for="">Lastname</label>
            <input type="text" name="Lastname">
        </div>

        <div>
            <label for="">Age</label>
            <input type="number" name="Age">
        </div>
        <button>submit</button>

    </form>
</body>
</html>